<form action="/" method="post" id="todo">
  <div class="form-item fi content">
    <label for="content">Add an item!</label>
    <textarea name="content" id="content" placeholder="Put item here" tabindex="1"></textarea>
  </div>
  <div class="form-buttons fb">
    <input type="submit" value="Add" />
  </div>
</form>